- user = @notification.user
- project = @notification.project

- project_link = project_by_slug_url(permalink: project.permalink)
- company_name = ::Configuration[:company_name]

|Hello, #{user.display_name}.
br/
br/
| The project #{link_to project.name, project_link, target: '__blank'} is now live and can receive support! Good luck in this marathon! 
| A crowdfunding campaign takes work, but it is rewarding! If you have not planned your actions before, now is the time. 
| The time is now! Now is  #{ link_to 'TUDO-OU-NADA!', 'http://suporte.catarse.me/knowledgebase/articles/153519-por-que-o-tudo-ou-nada-', target: '__blank'} 
br/
br/
| To discuss communication strategies with our team and receive suggestions on what to do during this campaign, 
| respond to this email or send a message to #{mail_to ::Configuration[:email_projects]} . 
| But remember that <strong>you are responsible for promoting the campaign and disseminating information about the project</strong>. It is your network that will provide most of your success, much of this converation should bee seen as an aid.
br/
br/
strong Important Information:
br/
br/
| You <strong>CANNOT</strong> <strong>CHANGE</strong> the <strong>Target Collection</strong> or <strong>Chosen Term</strong> for the campaign. 
br/
br/
| However you still can:
br/
| - Changing the primary display of your campaignn
br/
| - Edit the description of your project
br/
| - Create new rewards
br/
| - Changing content and value of rewards that no one chose
br/
| - Set the limit of supporters of a particular reward
br/
| - Exhaust rewards (limiting them to X number of supporters)
br/
| - Change the Thumbnail and Headline of your project
br/
| - Read the rules, tips and other information through the #{link_to 'Support Center', ::Configuration[:support_forum]}.
br/
br/
| <strong>If you have not checked the #{link_to 'Support Center', ::Configuration[:support_forum], target: '__blank'}, 
| check it out! The more you know about the details of a campaign for #{company_name}, the better prepared you will be.</strong> 
| And stay calm, we are here to assist! You can ask us questions directly through this email or via the #{mail_to Configuration[:email_projects]}
br/
br/
| And by the way, please </strong>do not forget to inclide in your list of contacts emails:</strong> 
| #{mail_to ::Configuration[:email_projects]} and #{mail_to ::Configuration[:email_contact]} to prevent our messages from  
| falling in your spam filters because of your email.
br/
br/
| Thanks,
br/
| The #{company_name} team wishes you a great new year!!!
