- backer = @notification.backer
p User #{backer.user.display_name}
p User Email: #{backer.user.email}
p Payment Email: #{backer.payer_email}
p Payment Type: #{backer.payer_name}
p Project: #{backer.project.name}
p Key Support: #{backer.key}
p Payment Identifier Method: #{backer.payment_id}
p Support Value: #{backer.display_value}
p Mode of Payment: #{backer.payment_method}
p Payment method: #{backer.payment_choice}
p Date Create At: #{backer.created_at}